
.container-contact{
    margin-top: 30rem;
    padding-top: 4rem;
    border-bottom: 10px rgb(212, 202, 202) solid;
    border-top: 10px rgb(212, 202, 202) solid;
    border-radius: 50px;
    box-shadow: 0 0 5px #00ffff, 0 0 25px #00ffff; 
}

.container-contact h3{
    
    font-family: 'Julius Sans One', sans-serif;
    font-size: 5rem;
    color: white;
    margin-bottom: 5rem;
    margin-left: 5rem;
}
@media screen and (max-width:1494px) {
    .container-contact{
        margin-top: 45rem;
    
    }
}

@media screen and (max-width:995px) {
    .container-contact{
        margin-top: 60rem;
    }

    .container-contact h3{
    
        font-family: 'Julius Sans One', sans-serif;
        font-size: 3rem;
        color: white;
        margin-bottom: 5rem;
        margin-left: 6.5rem;
    }
  
}


