.container .video-gb{
    width: 100vmax;
    height: 200%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:center;
    margin-top: 3rem;
}
.container .text{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items:start;
}
.container .text #p-home{
    color:#ffffff;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1rem;  

    border-right: 4px solid;
    width: 14ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(15), blinking 0.5s infinite step-end alternate;

}
@keyframes typing {
    from{
        width: 0ch;
    }
}

@keyframes blinking {
    50%{
        border-color:transparent;
    }
}
.container .text #h1-home{
    color: #ffffff;
    font-size: 4rem;
    font-family: 'Julius Sans One', sans-serif;
    font-style: italic;
    margin-top: 2rem;
}
.container .text .buttonn{
    display: flex;
    flex-direction:row;
    gap: 1rem;
    flex-wrap:nowrap;
    justify-content:center;
    align-items: center;
    margin-top: 2rem;
}
.container .text .buttonn button{
    background-color: transparent ;
    color: #f0f8ff;

    box-shadow: 0 0 5px #00ffff, 0 0 25px #00ffff;
    border-radius: 1rem;
}
.container .text .buttonn button:hover{
    background-color: transparent ;

    color: #00ffff;
    transform:scale(1.1);
    transition:.6s;

    box-shadow: 0 0 5px #00ffff, 0 0 25px #00ffff, 0 0 50px #00ffff, 
    0 0 100px #00ffff, 0 0 200px;
    
    border:3px solid #00ffff;
}
.container .text .buttonn img{
    width: 3rem;
    border-radius: 10rem;
}
.container .imagem{
    background: transparent; 
    border-radius: 50px;
    box-shadow: 0 0 5px #00ffff, 0 0 25px #00ffff;

    width:20rem ;
    height: 30rem;
}
.container .imagem:hover{
    transform:scale(1.2);
    transition:.5s;
}

@media  screen and (max-width: 848px){
    .container .text{
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;
        justify-content: space-around;
        align-items:center;
    }
    .container .imagem{
        width:200px ;
        height: 20rem;
        margin-top: 5rem;
    }
}
@media screen and (max-width: 748px){
    
    .container .video-gb{
        width: 100%;
        height: 120%;
        position: absolute;
        top: 0;
        z-index: -1;
        object-fit: cover;
    }

} 

@media screen and (max-width: 548px){
    .container .text{
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;
        justify-content: space-around;
        align-items:center;
    }
    .container .text #h1-home{
        font-size: 3rem;
    }

    .container .video-gb{
        width: 100%;
        height: 120%;
        position: absolute;
        top: 0;
        z-index: -1;
        object-fit: cover;
    }
}

@media screen and (min-height: 800px) {
    .container {    
        margin-top: 10rem;
    }
}