.navbar{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 918px;
    margin: auto;
    margin-top: 1rem;
}
.navbar h1{
    text-decoration: none;
    color: #190808;
    display: inline;
}
.navbar h1:hover{
    color: #00ffff;
    transform:scale(1.1);
    transition:.6s;
}


@media screen and (max-width:694px) {
    .navbar{
        font-size: 1.3rem;
    }
}
        