.container-project .video-gb{
    width: 100vmax;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
}
.container-project{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:center;
    
}
.container-project .box-h1-project{
    width: 100%;
    height: 1rem;
    background-color: transparent;
}
.container-project #h1-project{
    color:#ffffff;
    font-size: 2rem;
    font-family: 'Julius Sans One', sans-serif;
    font-style: italic;

    margin-left:10rem ;

    display: flex;
    justify-content: center;

    background-color: transparent ;
    color: #f0f8ff;
    box-shadow: 0 0 5px #00ffff, 0 0 25px #00ffff;
    border-radius: 4rem;
    margin-left:5rem ;
    margin-top: 2.5rem ;
    margin-right: 5rem;
    
}
.container-project .text-project{
    width: 120rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    margin-top: 100px;
    height: 10rem;
}



@media screen and (max-width:1494px) {
    .container-project .video-gb{
        width: 100vmax;
        height: 150%;
        position: absolute;
        top: 0;
        z-index: -1;
        object-fit: cover;
    }
}

@media screen and (max-width:995px) {
    .container-project .video-gb{
        width: 110%;
        height: 200%;
        position: absolute;
        top: 0;
        z-index: -1;
        object-fit: cover;
    }
  
}
